{% load static %} 
<h2>Dear {{ user.first_name }} {{ user.last_name }},</h2>

<p>&emsp;We are pleased to inform you that your registration for Bug Smash 2.0 has been confirmed. This technical event is a challenging opportunity for you to showcase your skills and find bugs in programs.</p>

<p>&emsp;Additionally, we have created a WhatsApp group for all participants to communicate with each other and receive any important updates or announcements related to the event. We kindly request you to join this group by following this <a href="https://chat.whatsapp.com/DQaGApttQrz0CbWDMvKUro">link</a> to stay connected.</p>

<p>&emsp;If you have any queries or concerns, please feel free to ask in the WhatsApp group. Our team members will be present in the group to assist you.</p>

<p>&emsp;We look forward to your participation and wish you the best of luck for the event!</p>

<footer> 
    regards,<br>
    Bug Smash 2.0 Organizing Team.
</footer>