
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block style %} 
{% endblock %}

{% load static %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>{{ test_name }}</h1>
            {% if message %}
                <i class="fas fa-h3 fa-lg fa-fw">{{ message }} </i>
            {% else %}

                <h4>
                    <i>countdown : <span id="countdown_hours">24</span>:<span id="countdown_minutes">60</span>:<span id="countdown_seconds">60</span></i>
                </h4>
                
                <form method="post" id="testForm"> 
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="startTime">start time</label>
                        <input type="hidden" class="form-control" name="startTime" id="startTime" placeholder="start time" value="{{ started_time }}">
                    </div>
                    {% for question in questions %}
                        {% if question.question_type == "MCQ" %}
                            {% include 'test/components/mcq.html' %}
                        {% endif %} 
                        {% if question.question_type == "SCQ" %}
                            {% include 'test/components/scq.html' %}
                        {% endif %}
                        {% if question.question_type == "SAQ" %}
                            {% include 'test/components/saq.html' %}
                        {% endif %}
                    {% endfor %}


                    <button type="submit" class="text-center btn btn-primary" id="submitButton">Complete Test</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block script %}

$(window).on('load', () => {
    
    var message = "{{ message }}";
    console.log(message);
    if(message != "")   {   console.log(message); return; }
    var hc = $('#countdown_hours'), mc = $('#countdown_minutes'), sc = $('#countdown_seconds');
    var countdown = ({{ duration.hour }} * 3600) + ({{ duration.minute }} * 60) + {{ duration.second }};
    var start_time = ({{ started_time.hour }} * 3600) + ({{ started_time.minute }} * 60) + {{ started_time.second }};

    var timer_id;
    console.log({{ started_time.hour }});
    var doUpdateCountDown = () => {
        countdown--;
        if(countdown <= 0)  {
            clearInterval(timer_id);
            console.log("SUbmit clicked");
            // $("submitButton").click();
            $("#testForm").submit();
        }
        hc.text(parseInt(countdown / 3600));
        mc.text(parseInt((countdown % 3600) / 60));
        sc.text(parseInt(countdown % 60));
        console.log("updated!" + countdown);
    }

    timer_id = setInterval(doUpdateCountDown, 1000);

});
//$(window).on('load', function() {  
//    $("#loader").fadeOut(1000);  
//});

{% endblock %}